{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
    <header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
{#                        <h1>Man must explore, and this is exploration at its greatest</h1>#}
                        <h1 class="subheading">{{ post.title }}</h1>
                        <span class="meta">Posted by <a href="about.html">{{ post.author }}</a> on {{ post.published_date }}</span>
{#                        <span class="meta">{{ post.tags }}</span>#}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
{#                    <p>Post Description To Be here</p>#}
                    {{ post.text|linebreaks }}
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock content %}
