{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}

<header class="intro-header" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
{#                        <h1>Man must explore, and this is exploration at its greatest</h1>#}
{#                        <h1 class="subheading">{{ post.title }}</h1>#}
                        <h1>Posts tagged: "{{ tag }}"</h1>

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                </div>
                {% for post in posts %}

                    <p>{{ post.published_date|date }}: <a href="/post/{{ post.id }}">{{ post.title }}</a> </p>

                {% endfor %}
                {% endblock %}
            </div>

        </div>
    </article>

